.home-page {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.home-page__features {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    height: 100vh;
    width: 30%;
    background-color: rgb(191, 191, 191);
    padding: 20px;
}

.twittes {
    height: 100vh;
    width: 40%;
    background-color: rgb(138, 138, 138);
}

.news {
    height: 100vh;
    width: 30%;
    background-color: rgb(103, 103, 103);
}