.tweet-modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;

    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;

    background-color: rgba(0,0,0,.6);
}

.tweet-modal__popup {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 340px;
    height: auto;
    padding: 24px;
    border-radius: 20px;
    background-color: white;
    color: black
}

.tweet-modal__popup input {
    width: calc(100% - 20px);
}