.post {
    width: 100%;
    height: 320px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}

.post__avatar {
    width: 48px;
    height: 48px;
    object-fit: cover;
    border-radius: 96px;
}

.post__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.post__header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    font-size: 15px;
    line-height: 1;
}

.post__details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 16px;
}

.post__user-name {
    font-weight: bold;
    color: #0F1419;
    margin-right: 8px;
}

.post__account-name {
    color: #5B7083;
    font-weight: normal;
    margin-right: 8px;
}

.post__created-date {
    color: #5B7083;
    font-weight: normal;
}

.post__message {
    color: #0F1419;
    line-height: 1.4;
}

.post__picture {

}