.tweet-editor {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding: 8px 18px;
}

.tweet-editor__avatar {
    width: 48px;
    height: 48px;
    object-fit: cover;
    border-radius: 96px;
}

.tweet-editor__content {
    width: calc(100% - 74px);
    padding: 6px;
}

.tweet-editor__textarea {
    width: 100%;
    border: none;
}

.tweet-editor__features {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.tweet-editor__actions {
    padding: 0;
    list-style-type: none;
}

.tweet-editor__action {
    width: 24px;
    height: 24px;
    margin-right: 8px;
    cursor: pointer;
}

.tweet-editor__action:last-of-type {
    margin-right: 0;
}

.tweet-editor__action-btn {
    width: 80px;
    border-radius: 32px;
    background-color: #1DA1F2;
    padding: 12px;
    border: none;
    color: white;
    cursor: pointer;
}